<li class="list-group-item">
	<div *ngIf="!isValid()" class="alert alert-warning">
		Invalid
	</div>
	<div *ngIf="!isVariableNode()">
		<h4 class="list-group-item-heading">
			<span class="glyphicon glyphicon-chevron-down"></span>
			{{node.name}}
		</h4>
		<ul class="list-group">
			<cr-order-node *ngFor="let child of node.getChildren()" [node]="child" [variables]="variables">
			</cr-order-node>
		</ul>
	</div>
	<div *ngIf="isVariableNode()">
		<p class="list-group-item-text">
			{{getVariable().name}} 
		</p>
	</div>
</li>